#cms {
    font-family: $cms_font;

    .cms-header {
        display: flex;
        justify-content: space-between;
        height: 80px;

        a {
            display: inline-block;
            width: 20%;
            text-decoration: none;

            .logo {
                height: 100%;
                font-family: $authlogo-font;
                display: flex;
                justify-content: center;
                align-items: center;
                color: $cms_secondary;
                background-color: #DCDCDC;
                position: relative;
                z-index: 4;
                box-shadow: 0 0 2px rgba(0, 0, 0, .2);

                img {
                    width: 50px;
                    position: relative;
                    bottom: 4px;
                    right: 10px
                }

                h4 {
                    font-size: 2rem;

                    span {
                        color: $cms_primary;
                    }
                }
            }
        }

        nav {
            flex-grow: 1;
            background-color: $secondary_color;
            color: $muted-text;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, .3);
            position: relative;
            z-index: 3;

            .nav-container {
                height: 100%;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0 50px 0 45px;
                font-size: 1.1rem;

                i {
                    font-size: 1.15rem;
                    opacity: .6;
                }

                input {
                    border: 0;
                    outline: 0;
                    background: transparent;

                    ::placeholder {
                        color: $muted-text;
                        opacity: 0.6;
                    }
                }

                a {
                    color: $muted-text;

                    &:hover {
                        color: $cms_primary;
                    }
                }
            }
        }
    }

    & > main {
        display: flex;
        justify-content: space-between;

        .tools-list {
            width: 20%;
            background-color: #c3c2c2;
            box-shadow: 1px 0 3px rgba(0, 0, 0, .5);
            position: relative;
            z-index: 2;

            a {
                color: $secondary_color;
                text-decoration: none;


                .tool {
                    font-size: 1.1rem;
                    color: $secondary_color;
                    padding: 20px 0 20px 35px;
                    text-shadow: 0 0 3px rgba(0, 0, 0, .7);
                    transition: background-color .4s;

                    &:hover,
                    &.active {
                        color: $cms_primary;
                        text-shadow: 1px 2px 1px rgba(0, 0, 0, .1);
                        box-shadow: inset 0 0 3px rgba(0, 0, 0, .35);
                        background-color: #DCDCDC;
                    }

                    i {
                        margin-right: 15px;
                    }
                }
            }
        }

        .public-page {
            width: 80%;
            height: calc(100vh - 80px);
            position: relative;
            overflow-y: auto;
            font-family: $primary_font;
        }
    }

    .create-modify,
    & > .container {
        padding: 40px 55px;
        border-bottom: 5px double $bg_secondary;
        margin-bottom: 40px;
        border-radius: 6px;
        box-shadow: 0 0 5px rgba($bg_secondary, .2)
    }


    .post:hover .cms-overlay {
        display: flex;
    }
}

.post-cover-img img {
    width: 40%;
}
