$primary_color: #F7972E;
$secondary_color: #FFFFFF;
$bg_primary: #F7F7F7;
$bg_secondary: #250F08;

$muted-text: #8C8C8C;

$cms_primary: #328CAF;
$cms_secondary: #5D5D5D;

$primary_font: 'Rokkitt', serif;
$secondary_font: 'Niconne', cursive;
$cms_font: 'Roboto', sans-serif;
$authlogo-font: 'Cormorant SC', serif;
